/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #000000; }

.str {
  color: #CC0500; }

.kwd {
  color: #B6365A; }

.com {
  color: #008D10;
  font-style: italic; }

.typ {
  color: #0090DB; }

.lit {
  color: #000000; }

.pun {
  color: #000000; }

.opn {
  color: #000000; }

.clo {
  color: #000000; }

.tag {
  color: #000000; }

.atn {
  color: #FFD700; }

.atv {
  color: #FFD700; }

.dec {
  color: #000000; }

.var {
  color: #FFD700; }

.fun {
  color: #0090DB; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #F7F8F9;
  font-size : 0.8em;
  padding: 10px;
  border: 1px solid #E1E1E8; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }